@{
    ViewData["Title"] = "Home Controller Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Melbourne Institute of Technology </h1>
    <button type="submit" class="btn btn-dark"> @Html.ActionLink("MIT Candidate Managemanet", "index", "Candidate",null, new { style = "text-decoration: none; color:white;" })</button>

</div>
